@import url(node_modules/@fortawesome/fontawesome-free/css/all.min.css);

/* Varibles */
:root {
    --console-green: rgb(145, 237, 145);
}

i {
    color: var(--console-green);
    font-size: 5rem;
    margin: 10px;
}

i:hover {
    opacity: 0.5;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    font-family: "Lucida", monospace, sans-serif;
}

body {
    margin: 0;
    background-color: gray;
    height: 100vh;
}

header,
main,
footer {
    max-height: 100vh;
    scroll-snap-align: start;
}

.grid {
    display: grid;
    grid-template-rows: 5fr 5fr 1fr;
}

.console-header {
    color: rgb(145, 237, 145);
    margin: 10%;
    font-size: 3rem;
    grid-row: 1;
    .typed {
        border-right: 0.1em solid greenyellow;
        font-weight: bold;
        display: inline-block;
        overflow-x: hidden;
        vertical-align: top;
        text-wrap: nowrap;
        animation: typing 3s steps(10) 2s 1 normal both,
            blinking 1s infinite normal;
    }
    .description {
        font-size: 1rem;
    }
}

.button-group {
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
}

.button {
    border: 2px solid black;
    height: 100%;
    width: 30%;
    font-weight: bold;
    font-size: 3em;
    background-color: transparent;
    position: relative;
}

.button:hover {
    background-color: white;
}

.inner-button {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    bottom: 10%;
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.socials {
    grid-row: 3;
    display: flex;
    align-items: end;
    justify-content: end;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking {
    from {
        border-color: transparent;
    }
    to {
        border-color: lightgreen;
    }
}

@media screen and (max-width: 480px) {
    html,
    body {
        scroll-snap-type: y mandatory;
    }

    .grid {
        grid-template-rows: 100vh 100vh 100vh;
        grid-template-columns: 1fr;
    }

    .console-header::after {
        content: "scroll";
    }

    .button-group {
        flex-direction: column;

        .button {
            width: 100%;
        }
    }
}
