* {
    box-sizing: border-box;
    font-family: "Lucida", monospace, sans-serif;
}

/* you put the transition on the thing transitioning, the child element doing the moving, so our "card" div */

.card {
    transition: all 1s;
    grid-area: main;
    height: 100vh;
    position: relative;
    top: 0;
}

.container:hover .card {
    transform: translateY(100%);
}

header {
    grid-area: header;
    text-align: center;
}

#pageNav {
    grid-area: navbar;
    border: 3px solid black;
}

.navList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
#contentNav {
    grid-area: contentnav;
}

footer {
    grid-area: footer;
}

body {
    min-height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: min-content 5% auto 10%;
    grid-template-areas:
        ". header ."
        "navbar navbar navbar"
        "contentnav main right"
        ". footer .";
}
