* {
    box-sizing: border-box;
    font-family: "Lucida", monospace, sans-serif;
}

body {
    margin: 0;
    background-color: black;
    color: lightgreen;
    height: 100vh;
}
main {
    box-sizing: border-box;
    margin: 1em;
}

.console-profile {
    position: relative;
    top: 50%;
    width: 100%;
    display: inline-block;

    .typed {
        border-right: 0.1em solid lightgreen;
        display: inline-block;
        overflow-x: hidden;
        width: 200px;
        vertical-align: top;
        text-wrap: nowrap;
        animation: typing 3s steps(10, end) forwards, blinking 1s infinite;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking {
    from {
        border-color: transparent;
    }
    to {
        border-color: lightgreen;
    }
}
