@import url(node_modules/@fortawesome/fontawesome-free/css/all.min.css);

* {
  overflow: hidden;
}

.container {
  display: grid;
  height: 100vh;
  margin: 0;

  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
}

/* across flexbox of all possible buttons */
.nav {
  /* background-color: green; */
  grid-area: header;
}

.content {
  grid-area: main;
  /* background-color: red; */
}
