/* Varibles */
:root {
  --console-green: rgb(145, 237, 145);
}

i {
  color: var(--console-green);
  font-size: 5rem;
  margin: 10px;
}

i:hover {
  opacity: 0.5;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Lucida", monospace, sans-serif;
}

body {
  margin: 0;
  /* background-color: gray; */
  height: 100vh;
}

.content {
  display: flex;
}
